.animSlide {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    animation-name: slide-right;
    animation-duration: 400ms;
}
// flex items-center  h-full  animSlide  relative
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
